
  #topimage {
    width: 90%;
    padding: 150px 0;
    background: -moz-linear-gradient(65deg, rgb(0, 170, 255),rgb(192, 237, 255)); 
    background: -webkit-linear-gradient(65deg, rgb(0, 170, 255),rgb(192, 237, 255)); 
    background: linear-gradient(65deg, rgb(0, 170, 255),rgb(192, 237, 255)); 
    color: white;
    padding-left: 10%;
  }
